@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Prata&display=swap');
/* Fonts */
.prata {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

.acme {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.abril-fatface {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-regular {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-bold {
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-italic {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: italic;
}
/* End Fonts */

/* Global Styles */

html {
    scroll-behavior: smooth;
}

li {
    padding: 2px;
}

p, li {
    font-size: 1.3rem;
    line-height: 1.5;
    font-family: "Libre Caslon Text", serif;;
}
.hero {
  background: url(../images/hero.webp) center center/cover no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero-h3 {
    color: #fff;
    text-shadow: 6px 6px 3px rgba(0, 0, 0, 1);
    font-size: 2rem;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 5px;
    width: fit-content;
    margin: auto;
}

.herobtn {
    display: inline-block;
    background: #fff;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.herobtn:hover {
    background: #333;
    color: #fff;
}
